<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<div th:include="include :: ajoutCSS" />
<title>Acceuil</title>
</head>
<body>
	<div th:replace="menu :: affichageMenu" />
	<section class="section">
		<div class="container">
			<form action="#" th:action="@{/acceuil}" th:object="${acceuilForm}"
				method="post">
				<input type="hidden" id="idPersonne" name="idPersonne"
					th:field="*{idPersonne}" />
				<p>

					<a th:href="@{/trajet(idPersonne=*{idPersonne})}">Ajouter un
						trajet</a>
				</p>
				<p>
					<a th:href="@{/listetrajet(idPersonne=*{idPersonne})}">R&eacute;server un trajet parmis les trajets</a>
				</p>
			</form>
		</div>
	</section>
</body>
</html>