<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta charset="ISO-8859-1" />
<title>Acceuil</title>
</head>
<body>
	<form action="#" th:action="@{/acceuil}" th:object="${acceuilForm}"
		method="post">
		<input type="hidden" id="idPersonne" name="idPersonne"
			th:field="*{idPersonne}" />
		<p>
			<a th:href="@{/trajet}">Ajouter un trajet</a>
		</p>
		<p>
			<a th:href="@{/reservation}">R&eacute;server un trajet</a>
		</p>
	</form>
</body>
</html>